{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Bem-vindo, {{ user.nome }}!</h2>
    <p>Seu perfil: **{{ user.perfil }}**</p>

    {% if user.perfil == 'Organizador' %}
        <h3>Ferramentas de Gerenciamento</h3>
        <ul>
            <li><a href="{% url 'criar_evento' %}">Criar Novo Evento</a></li>
            <li><a href="{% url 'registros_auditoria' %}">Consultar Registros de Auditoria</a></li>
        </ul>

        <h3 style="margin-top: 30px;">Meus Eventos Criados</h3>
        
        {% if eventos_organizados %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Início</th>
                        <th>Professor Resp.</th>
                        <th>Vagas</th>
                        <th>Status</th> 
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos_organizados %}
                        <tr>
                            <td>{{ evento.nome }}</td>
                            <td>{{ evento.data_inicial|date:"d/m/Y" }}</td>
                            <td>{{ evento.professor_responsavel.nome }}</td>
                            <td>{{ evento.quantidade_participantes }}</td>
                            
                            <td>
                                {% if evento.esta_encerrado %}
                                    Encerrado
                                {% else %}
                                    Ativo
                                {% endif %}
                            </td>
                            
                            <td>
                                <a href="{% url 'editar_evento' evento.id %}">Editar</a> |
                                <a href="{% url 'lista_inscritos' evento.id %}">Inscritos</a>
                                
                                {% if evento.esta_encerrado %}
                                | <a href="{% url 'emitir_certificados' evento.id %}">Emitir Certificados</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum evento criado até o momento.</p>
        {% endif %}

    {% endif %}

    {% if user.perfil == 'Aluno' or user.perfil == 'Professor' %}
        <h3>Participação em Eventos</h3>
        <ul>
            <li><a href="{% url 'home' %}">Ver Eventos Disponíveis</a></li>
            <li><a href="{% url 'meus_certificados' %}">Meus Certificados</a></li>
            <li><a href="#">Minhas Inscrições</a></li> </ul>
    {% endif %}
{% endblock %}