{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Bem-vindo, {{ user.nome }}!</h2>
    <p>Seu perfil: **{{ user.perfil }}**</p>

    {% if user.perfil == 'Organizador' %}
        <h3>Gerenciamento de Eventos</h3>
        <ul>
            <li><a href="{% url 'criar_evento' %}">Criar Novo Evento</a></li>
            <li><a href="{% url 'gerenciar_eventos' %}">Gerenciar Meus Eventos</a></li>
            <li><a href="{% url 'registros_auditoria' %}">Consultar Registros de Auditoria</a></li>
        </ul>
    {% endif %}

    {% if user.perfil == 'Aluno' or user.perfil == 'Professor' %}
        <h3>Participação em Eventos</h3>
        <ul>
            <li><a href="{% url 'home' %}">Ver Eventos Disponíveis</a></li>
            <li><a href="{% url 'meus_certificados' %}">Meus Certificados</a></li>
            <li><a href="#">Minhas Inscrições</a></li> </ul>
    {% endif %}
{% endblock %}